.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 200px;
  height: 50px;
  border: 1px solid #000000;
  padding: 15px 60px;

  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
