.best {
  margin-top: 70px;

  // ===== HEADER =====
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 52.5px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
  }

  // ===== GRID =====
  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    justify-items: center;
  }

  // ===== CARD =====
  &__card {
    background: #f8f9fa;
    width: 400px;
    padding: 0px 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  // ===== TEXT BLOCK =====
  &__text {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
  }

  &__text-title {
    font-family: Readex Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__text-subtitle {
    font-family: Readex Pro;
    font-weight: 400;
    font-size: 13px;
    line-height: 16.8px;
    letter-spacing: 0%;
    text-align: center;
  }

  Button {
    margin-top: 30px;
  }
}
