header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;
  max-width: 1800px;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;

    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #000000;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
