header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav {
  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #000000;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
