.selled-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  gap: 10px;

  h2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 52.5px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    max-width: 50%;

    white-space: normal;
    word-break: break-word; // перенос длинных слов
    text-align: center;
  }
}

.selled-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  .card-selled {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;

    img {
      object-fit: scale-down;
      border-radius: 20px 20px 0 0;
      width: 100%;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-self: flex-start;
      text-align: left;

      &-title {
        font-weight: 400;
        font-style: Regular;
        font-size: 22px;
        line-height: 27.5px;
        letter-spacing: 0%;
      }

      &-subtitle {
        width: 70%;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 0%;

        color: #4b4b4b;
      }

      &-price {
        margin-top: 15px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 21.6px;
        letter-spacing: 0%;
      }
    }
  }
}
