.category-header {
  display: flex;
  flex-direction: column;
  align-items: center; // центрируем контент по горизонтали
  text-align: center;
  margin-top: 70px;
  gap: 10px;

  h2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 52.5px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    max-width: 50%;

    white-space: normal;
    word-break: break-word; // перенос длинных слов
    text-align: center;
  }
}

.category-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px;

  .card-category {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 35px 0px #00000040;

    padding: 0px 0px 20px 20px;
    width: fit-content;

    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      width: 100%;
    }

    .text {
      margin-top: 15px;
      align-self: flex-start;
      text-align: left;
    }
  }
}
