.slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-color: #dce5e2;
  border-radius: 32px;

  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #000;
    background: none;
    font-size: 24px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
    transition: background 0.2s ease;

    &.left {
      left: 20px;
    }
    &.right {
      right: 20px;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 80px;
    height: 80%;
    transition: transform 0.5s ease-in-out;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .content-info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-weight: 400;
        font-style: normal;
        font-size: 58px;
        width: 90%;
        line-height: 69.6px;
        letter-spacing: 0;
      }

      p {
        width: 60%;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0;
      }
    }
  }

  img {
    width: 100%;
    height: 550px;
    max-height: 100%;
    object-fit: contain;
    object-position: right bottom;
    display: block;
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
  }
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;

  .dot {
    width: 200px;
    height: 2px;
    background: #000000;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s;

    &.active {
      background: #000000;
      opacity: 1;
    }
  }
}
