.slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-color: #dce5e2;
  border-radius: 32px;

  // ========== ARROWS ==========
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;

    svg {
      width: 32px;
      height: 32px;
      stroke: #000;
    }

    &--left {
      left: 20px;
    }

    &--right {
      right: 20px;
    }
  }

  // ========== CONTAINER ==========
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 80px;
    height: 100%;
    align-items: center;
  }

  // ========== CONTENT ==========
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .content-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 58px;
      line-height: 1.2;
      width: 90%;
      font-weight: 400;
    }

    p {
      width: 60%;
      font-size: 16px;
      line-height: 1.2;
      font-family: "Inter", sans-serif;
    }
  }

  // ========== IMAGE WRAPPER ==========
  &__image-wrapper {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      width: 100%;
      height: 550px;
      object-fit: contain;
      object-position: right bottom;
      transition: opacity 0.4s ease;
    }
  }

  // ========== DOTS (pagination) ==========
  &__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
  }

  &__dot {
    width: 200px;
    height: 2px;
    background: #000;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.2s;

    &--active {
      opacity: 1;
    }
  }
}
