.slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-color: #dce5e2;
  border-radius: 32px;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 50px;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .content-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-weight: 400;
        font-style: Regular;
        font-size: 58px;
        width: 80%;
        line-height: 69.6px;
        letter-spacing: 0%;
      }

      p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0%;
      }
    }
  }

  img {
    height: 100%;
    align-items: flex-end;
  }
}
